body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #f1f1f1;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main {
    max-width: 900px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

p {
    line-height: 1.6;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #4da3ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


/* ===== FOOTER ===== */

.site-footer {
    background-color: #111;
    color: #eee;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-container div {
    flex: 1;
    min-width: 200px;
}

.footer-left h3 {
    margin-bottom: 10px;
}

.footer-center h4,
.footer-right h4 {
    margin-bottom: 10px;
}

.social-icons a img {
    width: 24px;
    margin-right: 10px;
    transition: transform 0.2s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 0.9em;
}